.react-date-picker *{
    border-radius: 10px !important;
    border-color:darkgray
}

.react-date-picker *:hover{
    border-radius: 10px !important;
    border-color:blue
}

body {
    margin:0 !important;
}

html, body, #root {
    height: 100%;
}


.cardHeader{
    
}