.div{
    display: flex;
}

.coruja:hover{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}

.p-menuitem-link{
    border-radius: 10px !important;
}

.p-tabmenu-nav{
    border-bottom: 0 !important
}

.fonte{
    font-family: 'Russo One', sans-serif;
}

.utfprName{
    color: #f6c500;
    display: inline;
    text-shadow: 4px 4px 4px #aaa;
    font-family: 'Acme', sans-serif;
}